@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
@keyframes hoverAnimation {
  0% {
    transform: scale(1);
    color: #c7c7c7;
  }
  100% {
    transform: scale(1.1);
    color: #D8E2FD;
  }
}
body {
  font-family: "Inter", serif;
  background-color: #070a13;
  color: #D8E2FD;
  padding: 2rem;
}
@media only screen and (min-width: 40em) {
  body {
    padding: 4rem;
  }
}

@media only screen and (min-width: 40em) {
  .mainSection {
    height: calc(100vh - 8rem);
  }
}

@media only screen and (min-width: 48em) {
  .mainSection__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
    margin: 0 3rem;
    height: 100%;
  }
}
@media screen and (min-width: 64em) {
  .mainSection__grid {
    margin: 0 6.5rem;
  }
}

.infoSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.infoSection .infoSection__headerInfo {
  margin-bottom: 3rem;
}
.infoSection .infoSection__headerInfo h1 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
}
@media screen and (min-width: 40em) {
  .infoSection .infoSection__headerInfo h1 {
    font-size: 3rem;
  }
}
.infoSection .infoSection__headerInfo h3 {
  margin-top: 0rem;
  margin-bottom: 0.8rem;
  font-weight: 500;
}
.infoSection .infoSection__headerInfo p {
  width: 70%;
  margin-top: 0rem;
  color: #c7c7c7;
  font-weight: 300;
}
.infoSection .infoSection__contactSection {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  width: 40%;
  color: #c7c7c7;
}
.infoSection .infoSection__contactSection svg {
  cursor: pointer;
}
.infoSection .infoSection__contactSection svg:hover {
  animation-name: hoverAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  color: #D8E2FD;
  transform: scale(1.1);
}

.displaySection {
  margin-top: 3rem;
}
@media screen and (min-width: 48em) {
  .displaySection {
    margin-top: 0;
    overflow-y: scroll;
  }
}
.displaySection .displaySection__about {
  color: #c7c7c7;
  margin-bottom: 4rem;
}
.displaySection .displaySection__about p {
  line-height: 1.5rem;
}
.displaySection .displaySection__about p b {
  color: #D8E2FD;
}
.displaySection .displaySection__experience {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0.15rem;
  margin-bottom: 4rem;
}
.displaySection .displaySection__experience .view__resume:hover {
  color: #75c8ff;
  cursor: pointer;
}

.item__card {
  border-radius: 0.5rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.item__card .item__card__left {
  grid-column: 1/2;
}
.item__card .item__card__left p {
  margin: 0;
  font-size: 0.8rem;
  color: #c7c7c7;
}
.item__card .item__card__right {
  grid-column: 2/3;
}
.item__card .item__card__right .item__card__rightJob a {
  color: #D8E2FD;
  text-decoration: none;
}
.item__card .item__card__right .item__card__rightJob a:visited {
  color: #D8E2FD;
}
.item__card .item__card__right .item__card__rightJob p {
  color: #c7c7c7;
  line-height: 1.5rem;
}
.item__card .item__card__right .item__card__toolsContainer {
  display: flex;
  gap: 1rem;
}
.item__card .item__card__right .item__card__toolsContainer .item__card__tools {
  background-color: #062c47;
  color: #75c8ff;
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 0.8rem;
}

.item__card:hover {
  cursor: pointer;
  box-shadow: 0 0 5px #2659f2;
}
.item__card:hover .item__card__right .item__card__rightJob a {
  color: #3061f3;
}/*# sourceMappingURL=main.css.map */